.superDeposit-container {
    background-color:#ffffff ;
   
  }
  
  .decoration-images{
    display: flex;
    flex-direction: row ;
   
    justify-content: space-between ;
  }
  .absoluteimages{
    position: absolute;
  }
  .leftcoin{
    left: 10%;
    transform: translateY(-100%);
  }
  .rightStairs{
    right:10%;
    transform: translateY(-100%);
  }
  .leftSideDecorator{
    left:1%;
    transform: translateY(100%);
  }
  .superDeposit-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap:20px; */
    padding-top: 10rem;
    flex-direction: column;
  }
  
  .superDeposit-heading h2 {
    font-size: 100px;
    font-weight: 700;
    color: #4d43fe;
    font-family: 'Anek latin';
    margin: 0px 0px 4px;
  }
  
  .superDeposit-heading p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Anek latin';
    color:#000000;
    margin: 0px 0px 16px;
    text-align: center;
  }
  
  .superDeposit-image {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  
  
  
  
  
 
  

  
  
  
 
