.supercard-container {
    background-color:#4d3dfe ;
    overflow: hidden ;
  }
  
  .superCard-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
  }
  
  .superCard-heading h2 {
    font-size: 96px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Anek latin';
    margin: 0px 0px 4px;
  }
  
  .superCard-heading p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Anek latin';
    color:hsla(0, 0%, 100%, .6);;
    margin: 0px 0px 16px;
    text-align: center;
  }
  
  .superCard-image {
    display: flex;
   position: relative;
   
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:60px;
   

   
  }
  .glass-image{
    position:absolute;
     height:100% !important;
     width: 60% !important;
        mix-blend-mode:screen;
        transform: translateY(12%);
      
  }
  .supercard-phonecardimage img{
    width: 400px !important;
    height: 600px !important;
    z-index: 1;
    
  }
  .rightSideDecor{
    transform: translateX(10%);
  }
  .superCard-image img {
    width:35% ;
    height: auto;
    z-index: 1;
    /* margin: auto;
    display: flex;
    align-items: center;
    margin-top: 45px; */
    /* padding: 66px; */
  }
  .supercard-phonecardimage{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .superCard-image-contanier {
    border: 1px solid #4d3dfe;
    border-radius: 40px;
    background-color: #4d3dfe;
    width: 28%;
    margin: auto;
  }
  
  .superCard-image-contanier h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    
    margin: 0px 0px 12px;
    width: 72%;
    margin: 0 auto;
    padding-top: 38px;
  }
  
  .superCard-image-contanier p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 72%;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .superCard-image-jackpot img {
    width: 74%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 45px;
    /* padding: 66px; */
  }
  
  .superCard-image-jackpot {
    border: 1px solid #b5ef85;
    border-radius: 40px;
    background-color: #b5ef85;
    width: 28%;
    margin: auto;
  }
  
  .superCard-image-jackpot h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1b1b1b;
    margin: 0px 0px 12px;
    width: 72%;
    margin: 0 auto;
    padding-top: 38px;
  }
  
  .superCard-image-jackpot p {
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1b;
    width: 72%;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .superCard-image-gift img {
    width: 74%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 45px;
    /* padding: 66px; */
  }
  
  .superCard-image-gift {
    border: 1px solid #e72be7;
    border-radius: 40px;
    background-color: #e72be7;
    width: 28%;
    margin: auto;
  }
  
  .superCard-image-gift h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0px 12px;
    width: 72%;
    margin: 0 auto;
    padding-top: 38px;
  }
  
  .superCard-image-gift p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 72%;
    margin: 0 auto;
    padding-top: 30px;
  }
  